Hiri/kakaenv/
.htaccess
Hiri/Hiri/__pycache__/
add Hiri/__pycache__/
add Hiri/app/migrations/__pycache__/
Hiri/app/migrations/__pycache__/
Hiri/__pycache__/
Hiri/app/__pycache__/
*.pyc
**/*.pyc
Hiri/kakaenv/bin Hiri/kakaenv/lib Hiri/kakaenv/pip-selfcheck.json
Hiri/kakaenv/
Hiri/botenv/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
